@inherits LayoutComponentBase
<div class="page">
    <header>
        <a href="">NetWatch</a>
        <span>RouterOS v7+ bandwidth monitor</span>
    </header>

    <main class="content">
        @Body
    </main>
</div>
