@inherits LayoutComponentBase
<div class="page">
    <header>
        <a href="">NetWatch</a>
        <span>RouterOS v7+ bandwidth monitor</span>
        <nav>
            <NavLink href="" Match="NavLinkMatch.All">Status</NavLink>
            <NavLink href="devices">Devices</NavLink>
        </nav>
    </header>

    <main class="content">
        @Body
    </main>
</div>
